/*
 Styling For home path arrow SVG
*/
#Home_Path_Arrow{
    width: 24px;
    margin: 0 16px;
}
/*
 Styling for Home background image
*/
#Home_Hero_Background{
    position: relative;
    top: 0;
    width: 100%;
    height: 575px;
    transform: rotateX(180deg); 
}
/*
    Home page Buttons Stlying
*/
#Home_Button_Main_Link{
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

/*
    Background Styling for Button Section
        -Bottom of home page
*/
.Home_Button_Bg_Left{
    position: relative;
}
.Home_Button_Bg_Right{
    position: relative;
    right: -2.5%;
}
#Home_Button_Bg_Img1{
    width: 150%;
    vertical-align: middle;
    transform: rotate(133.23deg);
}
#Home_Button_Bg_Img2{
    width: 250%;
    transform: rotate(32.27deg);
    position: absolute;
    left: -60%;
    top: 15%;
}
#Home_Button_Bg_Img3{
    width: 100%;
    transform: rotate(-33.7deg);
}